
/* text-decoration tira os sublinhados de link */
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: sans-serif;
	text-decoration: none;
}


/* Antigo 
body {
	background-color: gray;
	font-family: Arial, Helvetica, sans-serif;
}
*/

/* Antigo 
main {
	//background-color: lightgreen;
	width: 100vw;
	height: 100vh;
	//border: 2px solid green;
}
*/



/* Novo CSS INÍCIO - Inclui, logo abaixo, o html, body, main, footer - É a estrutura do app em Flexbox. */
html, body {
height: 100%;
}
body {
display: flex;
flex-direction: column;
background-color: gray;
}
main {
flex: 1 0 auto;
//background-color: lightgreen;
}
footer {
flex-shrink: 0;
}
/* Novo CSS FIM... da estrutura citada acima. */

footer div {
background-color: red;
width: 50%;
text-align: center;
margin-left: 25%;
padding: 0.5em 0em 0.5em 0em;
border-radius: 100% 100% 0em 0em;
}


/* Antigo 
footer {
	background-color: red;
	height: 2em;
}
*/

#p7, #p6 {
	font-family: cursive;
}

/* Palavra em português */
#p7 {
	position: absolute;
	top: 2em;
	left: 22%;
	color: red;
	font-size: 1.2em;
}

/* Palavra em inglês */
#p6 {
	color: red;
	font-size: 1.5em;
	font-weight: bold;
}

/* Emoji */
#p5 {
	font-size: 2.5em;
}

/* Botão Settings no topo esquerdo */
#set {
	position: absolute;
	top: 0.3em;
	left: 0.3em;
}

#sound {
	position: absolute;
	top: 0.2em;
	left: 80%;
}

/* Título ao lao do menu esquerdo, e referente aos botões principais da direita */
.display3 {
	position: absolute;
	top: 48%;
	left: 18%;
	text-transform: uppercase;
	font-size: 0.7em;
	color: gray;
	font-weight: bold;
}

/* Título ao lado do menu esquerdo, e referente a este mesmo menu esquerdo */
.tit {
	position: absolute;
	top: 45%;
	left: 18%;
	text-transform: uppercase;
	font-size: 0.75em;
	color: gray;
}


#detalhe {
  border-radius: 0em 77% 0em 0em;
  background-color: gray;
  height: 3em;
  width: 2.8em;
  font-size: 1em;
}


.bt1 {
  background-color: gray;
  height: 3em;
  width: 2.8em;
  cursor: pointer;
  font-size: 1em;
text-align: center;
}

/*
.bt1 span {
  //filter: invert(1);
  //filter: grayscale(1) invert(1);
  filter: grayscale(1);
}
*/

.bt2 {
  background-color: lightgreen;
  height: 3em;
  width: 3em;
  cursor: pointer;
  filter: grayscale(0.8);
  font-size: 1em;
}

.bt1:hover {
  background-color: darkgray;
  height: 3em;
  width: 3.3em;
  font-size: 1em;
  border-radius: 0em 0.5em 0.5em 0em;
}

.bt2:hover {
  filter: grayscale(0);
  height: 3.2em;
  width: 3.2em;
  font-size: 1.5em;
}


img {
  //height: 2em;
  width: 2em;
}



#newDIV2 {
  background-color: lightyellow;
  margin-top: 1.5em;
  border-radius: 6em 3em 0em 0em;
  height: 40%;
  //display: flex;
  //justify-content: space-between;
  //align-items: center;
}

#newDIV {
  background-color: lightyellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
}